.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav {
  display: flex;
  background-color: var(--primary-bg-color);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
}

.nav-room {
  font-weight: 800;
  font-size: x-large;
}

.nav-user {
  font-weight: 800;
  font-size: x-large;
}

.nav-typing {
  color: gray;
}

.logo {
  height: 3.5rem;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffc9);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 2rem;
  background-color: var(--secondary-bg-color);
}

.home-brief {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.home-input {
  border-radius: 1rem;
  outline: none;
  padding: 1rem;
  margin-bottom: 1rem;
  color: var(--primary-bg-color);
}

.home-btn {
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  background-color: var(--primary-bg-color);
  text-decoration: none;
}

.code {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.code-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.code-loading-state {
  font-size: 2rem;
  color: var(--primary-bg-color);
}

.cm-theme-dark {
  flex-grow: 1;
}

.cm-editor {
  height: 100%;
}
